
/* style of template framework HTML */

#head_line > #head_search > * {
    display: inline;
}


.logout_form {
    display: inline;
}
.logout_form > .logout_button{
}


/* table */

table  {
    border-collapse: collapse;
    border: 2px solid #999999;
}

table td, th {
    text-align:center;
    border: 1px solid #cccccc;
}

table th {
    border-bottom: 3px double #999999;
}

