
/* style of template framework HTML */

#head_line > #head_search > * {
    display: inline;
}


.logout_form {
    display: inline;
}
.logout_form > .logout_button{
}


/* posten_content */

p.posten_content {
    white-space: pre;
}

ul.posten_meta {
    padding-left: 2em;
}
ul.posten_meta li {
    display:inline;
    /*border: 1px solid #cccccc;*/
    padding: 0em 1em 0em 0em;
}

/* table */

table  {
    border-collapse: collapse;
    border: 2px solid #999999;
}

table td, th {
    text-align:center;
    border: 1px solid #cccccc;
}

table th {
    border-bottom: 3px double #999999;
}

