<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title> <?php echo $v->page_title; ?> </title>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" charset="utf-8"/>
  </head>

  <body>
    <div id="head_line">
      <!-- head line -->
      <big> Shinano </big> | <!-- logo -->
      
      RootHome |
      link1 |
      link2 |
      link3 |
      ...   |

      <!-- search -->
      <form id="search_form" method="GET" action="search.php">
        <div>
          <input type="text" name="search_text" placeholder="insert text to search" />
        </div>
        <div>
          <input type="checkbox" name ="jobp" > Job </input>
        </div>
        <div>
          <input type="checkbox" name="workerp"> Worker </input>
        </div>
        <div>
          <!-- item for search system here -->
        </div>
        <div>
          <input type="submit" value="search_search" />
        </div>
      </form>
      
      <!-- account login/create -->
      account
      <a href="./account_login.php"> login </a> ,
      <a href="./account_create.php"> create </a>

      
    </div>

    <hr />
    
    <div id="content_actual">
      <?php echo $v->content_actual; ?>
    </div>

    <hr />

    <div id="foot_line">
      Shinano |
      hogehoge@hogehgoe.com |
      W3C XHTML x.xx, W3C CSS x.xx
    </div>
    
  </body>
</html>
